.container {
    width: 960px;
    background-color: #ddd;
    margin: 0 auto;
}

main {
    display: flex;
    justify-content: space-between;   
}

section { 
    background-color: white;
    border: 0.1rem solid black;
    padding: 0.6rem 0;
}